.side-tab {
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.vertical-bars {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 410px;
}

.vertical-bars:hover {
    transform: scale(1.1);
}

.vertical-bars span {
    display: block;
    width: 1px;
    height: 30px;
    background-color: #fff;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.cart-icon {
    background-color: black;
    border: 0px;
    color: #fff;
    font-size: 1.2rem;
    transition: opacity 0.3s ease;
}

.cart-icon:hover {
    opacity: 0.7;
}

.side-menu {
    position: fixed;
    left: -300px;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: rgba(17, 17, 17, 0.95);
    backdrop-filter: blur(10px);
    z-index: 999;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    transition: left 0.5s cubic-bezier(0.77, 0, 0.18, 1);
    box-shadow: 5px 0 25px rgba(0, 0, 0, 0.5);
}

.side-menu.active {
    left: 0;
}

.menu-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
    margin-left: 70px;
}

.menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    text-align: left;
    padding: 15px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    letter-spacing: 2px;
}

.menu-btn::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: white;
    transition: width 0.3s ease;
}

.menu-btn:hover::before {
    width: 30px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #ccc;
}

@media (max-width: 768px) {
    .side-menu {
        width: 250px;
    }
}
